<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="initial-scale=1.0, width=device-width" name="viewport">
		<title>MIT2 YEAR BOOK</title>
		<link href="css/base.min.css" rel="stylesheet"/>
        <link href="css/login.css" rel="stylesheet"/>
        <style type="text/css">
        body,td,th {
	font-family: "Comic Sans MS", cursive;
}
        body {
	background-color: #FFFFFF;
}
        </style>
</head>
<body class="avoid-fout">
		
	<header class="header">
		<span class="header-logo">MIT YEAR BOOK</span>
	</header>
    
<div class="content">
		<div class="container">
			<div class="row">
            <div class="col-sm-5">
            	<section class="content-inner">
                	<div class="card-wrap">
                    	<div class="card">
                        	<img class="card-img img-responsive" src="images/img_logo.jpg"/>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-5 pull-right">
                <section class="content-inner">
                    <div class="card-wrap">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-header">
                                    <div class="card-inner col-md-push-1">
                                        <h1 class="card-heading">Sign In</h1>
                                    </div>
                                </div>
                                <div class="card-inner">
                                    <!--p class="text-center">
                                        <span class="avatar avatar-inline avatar-lg">
                                            <img alt="Login" src="images/users/avatar-001.jpg">
                                        </span>
                                    </p-->
                                    <form class="form" action="index.html">
                                        <div class="form-group form-group-label">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                    <label class="floating-label" for="login-matno">Matric-No</label>
                                                    <input class="form-control" id="login-matno" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-label">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                    <label class="floating-label" for="login-password">Password</label>
                                                    <input class="form-control" id="login-password" type="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                    <button class="btn btn-block btn-blue waves-button waves-effect waves-light">Sign In</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                    <div class="checkbox checkbox-adv">
                                                        <label for="login-remember">
                                                            <input class="access-hide" id="login-remember" name="login-remember" type="checkbox">Stay signed in
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap col-md-offset-1">
                        <!--p class="margin-no-top pull-left"><a href="javascript:void(0)">Need help?</a></p>
                        <div class="list-group-separator"></div>
                        <p class="margin-no-top pull-right"><a href="javascript:void(0)">Create an account</a></p-->
                            <ol class="breadcrumb">
                              <li><a href="register.html">Click to Register</a></li>
                                    <li><a href="support.html">Need Help?</a></li>
                                    <li class="active">Support</li>
                            </ol>
                    </div>
                </section>
                
            </div>
			</div>
		</div>
	</div>    
        
        
        
        
     <footer class="footer">
		<div class="container">
			<p>Mit 2014-2015</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-blue fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="fa fa-twitter"></span></a>
				<a class="fbtn fbtn-alt" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>
        
		<script src="js/jquery.min.js"></script>
        <script src="js/base.min.js"></script>
 	</body>
 </html>