<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="initial-scale=1.0, width=device-width" name="viewport">
		<title>MIT-Registration</title>
		<link href="css/base.min.css" rel="stylesheet"/>
        <link href="css/login.css" rel="stylesheet"/>
        <style type="text/css">
     body {
	background-color: #FFFFFF;
}
        </style>
</head>
<body class="avoid-fout">
		
	<header class="header">
		<span class="header-logo">MIT YEAR BOOK</span>
	</header>
    
<div class="content">
		<div class="container">
        <div class="row">
            <div class="col-sm-5">
            	<section class="content-inner">
                	<div class="card-wrap">
                    	<div class="card">
                        	<img class="card-img img-responsive" src="images/img_logo.jpg"/>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 pull-right">
                <section class="content-inner">
                    <div class="card-wrap">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-header">
                                    <div class="card-inner col-md-push-1">
                                        <h1 class="card-heading">Register</h1>
                                    </div>
                                </div>
                                <div class="card-inner">
                                    <!--p class="text-center">
                                        <span class="avatar avatar-inline avatar-lg">
                                            <img alt="Login" src="images/users/avatar-001.jpg">
                                        </span>
                                    </p-->
                                    <form class="form" action="index.html">
                                        <div class="form-group form-group-icon">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                <div class="media">
                                                <div class="media-object pull-left">
                                                    <label class="form-icon-label" for="input-username"><span class="icon">person</span></label>
                                                    </div>
                                                    <div class="media-inner">
                                                    <input class="form-control" id="username" placeholder="Name" type="text">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-icon">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                <div class="media">
                                                <div class="media-object pull-left">
                                                    	<label class="form-icon-label" for="input-email"><span class="icon">email</span></label>
                                                    </div>
                                                    <div class="media-inner">
                                                   	 <input class="form-control" id="email"  placeholder="Email"type="email">
													</div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-icon">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                	<div class="media">
                                                        <div class="media-object pull-left">
                                                        <label class="form-icon-label" for="input-phone"><span class="icon">phone</span></label>
                                                        </div>
                                                        <div class="media-inner">
                                                        <!--label class="floating-label" for="reg-phone">Phone Number</label>
                                                        <input class="form-control" id="phone_no" type="tel"-->
                                               <input class="form-control" id="input-phone" placeholder="Phone" type="tel">

                                                        </div>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        
                                        
                                        <div class="form-group form-group-icon">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                <div class="media">
                                                <div class="media-object pull-left">
                                                    <label class="form-icon-label" for="input-password"><span class="icon">lock</span></label>									</div>
                                                <div class="media-inner">    
                                                    <input class="form-control" id="input-password" placeholder="Password" type="password">
                                                 </div>
                                                 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-icon">
                                            <div class="row">
                                                <div class="col-md-10 col-md-push-1">
                                                <div class="media">
                                                <div class="media-object pull-left">
                                                    <label class="form-icon-label" for="input-cpassword"><span class="icon">lock</span></label>									</div>
                                                <div class="media-inner">    
                                                    <input class="form-control" id="input-cpassword" placeholder="Confirm Password" type="password">
                                                 </div>
                                                 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--div class="form-group form-group-icon">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                            <div class="media">
                                                <div class="media-object pull-left">
                                                    <label class="form-icon-label" for="input-file"><span class="icon">book</span></label>
                                               
                                            </div>
                                            <div class="media-inner">
                                                <input id="input-file" type="file">
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div-->
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-push-2">
                                                    <button class="btn btn-blue waves-button waves-effect waves-light">Register</button>
                                                    <button class="btn waves-button waves-effect waves-light">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="card-wrap col-md-offset-1">
                       		
                            <ol class="breadcrumb">
                              <li><a href="login.html">Login</a></li>
                                    <li><a href="forget.html">Forget Password</a></li>
                                    <li><a href="help.html">Support</a></li>
                            </ol>
                    </div>
                
                </section>  
            </div>
			</div>
        
        </div>
	</div>    
        
        
        
        
     <footer class="footer">
		<div class="container">
			<p>Mit 2014-2015</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-blue fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="fa fa-twitter"></span></a>
				<a class="fbtn fbtn-alt" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>
        
		<script src="js/jquery.min.js"></script>
        <script src="js/base.min.js"></script>
 	</body>
 </html>